// This file contains the home page specific styles since at the time of this
// writing, the Jekyl theme doesn't have a way to specify page specific
// styles.  Although this file is included in the main site stylesheet, it will
// at least isolate the page specific styles which will make it easier later
// to separate.

#marquee {
  margin-top: 80px;
  height: 80vh;
  position: relative;
  background: none;
  color:white;
}

.discover-button {
  background-color: #2c8dea;
  color:white;
}



#video-background {     
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1000;
}

